.p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: weight 2;
    line-height: 3em;
    letter-spacing: 4px;
    font-size: 14px;
}
.p2{
    font-family: 'Song Myung', serif;
}
 .p3{
    font-family: 'Lato', serif;
 }  
 .p4{ 
     font-family: 'Roboto Condensed', serif;
}